.st0 {
    fill: #FFFFFF;
}

.cls-1 {
    fill: #fff;
}
body {
    background-color: gray;
}
svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
}

svg circle.st0 {
    fill: none;
    stroke-width: 5px;
    stroke: #ffffff;
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
    animation: 8s circle-outline forwards;
    opacity: 0;
}

@keyframes circle-outline {
    from {
        stroke-dashoffset: 760;
        opacity: 0;
        fill: none;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
        fill: darkblue;
    }
}

svg path {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3px;
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    animation: 8s text-outline forwards;
    opacity: 0;
}

@keyframes text-outline {
    from {
        stroke-dashoffset: 350;
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}


